{% extends 'base.html' %}

{% block title %}Create User{% endblock %}

{% block content %}

<h1>Create a user</h1>

<!-- TEST: CREATE USER FORM -->

{% for msg in get_flashed_messages() %}
  <div>{{msg}}</div>
{% endfor %}

<form id="create-user-form" action="/users/new" method="POST">
  <div>
    <label for="first-name">First Name</label>
    <input type="text" id="first-name" name="first-name" value="{{first_name}}">
  </div>
  <div>
    <label for="last-name">Last Name</label>
    <input type="text" id="last-name" name="last-name" value="{{last_name}}">
  </div>
  <div>
    <label for="image-url">Image URL</label>
    <input type="text" id="image-url" name="image-url" value="{{image_url}}">
  </div>
  <button id="user-submit">Add</button>
</form>

{% endblock %}