{% extends 'base.html' %}

{% block title %}Edit User{% endblock %}

{% block content %}

<h1>Edit a user</h1>


{% for msg in get_flashed_messages() %}
  <div>{{msg}}</div>
{% endfor %}
<form action="/users/{{user.id}}/edit" method="POST">
  <div>
    <label for="first-name">First Name</label>
    <input type="text" id="first-name" name="first-name" value="{{user.first_name}}">
  </div>
  <div>
    <label for="last-name">Last Name</label>
    <input type="text" id="last-name" name="last-name" value="{{user.last_name}}">
  </div>
  <div>
    <label for="image-url">Image URL</label>
    <input type="text" id="image-url" name="image-url" value="{{user.image_url}}">
  </div>
  <button id="edit-submit">Save</button>
</form>
<a href="/users">
  <button id="edit-cancel">Cancel</button>
</a>
{% endblock %}