{% extends 'base.html' %}

{% block title %}Add post{% endblock %}

{% block content %}

<h1>Add Post for {{user.get_full_name()}}</h1>

{% for msg in get_flashed_messages() %}
  <p>{{msg}}</p>
{% endfor %}

<form action="/users/{{user.id}}/posts/new" method="POST">
  <div>
    <label for="title">Title: </label>
    <input id="title" name="title" type="text" value="{{title}}">
  </div>

  <div>
    <label for="content">Content: </label>
    <textarea id="content" name="content" type="text">
      {{content}}
    </textarea>
  </div>
  <button type="submit">Add</button>
</form>
<a href="/users/{{user.id}}">
  <button id="edit-cancel">Cancel</button>
</a>

{% endblock %}